{% load static %} 
 
<div class = "picLikes"><a href = "#"><img src = "{% static 'img/picture1.jpg' %}" alt = ""></a>
    <div class = "likesDiv">
    <button class = "btn btn-outline-dark">Like!</button>
    
    {% if answer.get_likes %}
        <span> {{ answer.get_likes }}</span>
    {% endif %}
    </div>
</div>   
<div class = "ansText">
    <p>
        {{ answer.body }}
    </p>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" {% if answer.correct %} checked {% endif %}>
        <label class="form-check-label" for="flexCheckDefault">
            It's correct!
        </label>
    </div>
    
</div>   