{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <h3>Log In</h3>
    <div class = "loginDiv">
        <form method = "post">
          {% csrf_token %}
          <div class = "mb-3">
            {% bootstrap_form form %}
            
            
            
            
            <!--
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" required class="form-control" id="email" aria-describedby="emailHelp">
                </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" required class="form-control is-invalid" id="password">
                <div class = "invalid-feedback">Incorrect password! Check if Caps Lock is off and try again</div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Check me out</label>
              </div> -->
              {% buttons %}
              <div class = "twoBut">
                  <button type="submit" class="btn btn-dark">Submit</button>
                  <a class = "btn btn-outline-dark signupBtn" href = "{% url 'signup' %}">Sign up</a>

              </div>
              {% endbuttons %}
            </div>
        </form>

    </div>

{% endblock content %}