{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <h3>Log In</h3>
    <div class = "loginDiv">
        <form method = "post">
          {% csrf_token %}
          <div class = "mb-3">
            {% bootstrap_form form %}
            
              {% buttons %}
              <div class = "twoBut">
                  <button type="submit" class="btn btn-dark">Submit</button>
                  <a class = "btn btn-outline-dark signupBtn" href = "{% url 'signup' %}">Sign up</a>

              </div>
              {% endbuttons %}
            </div>
        </form>

    </div>

{% endblock content %}
