{% extends "incl/base.html" %}
{% load static %}

{% block content %}
   
    <div class = "question">
        <div class = "picLikes"><a href = "#"><img src = "{% static 'img/picture.jpg' %}" alt = ""></a>
            <div class = "likesDiv">
                <button class = "btn btn-outline-dark">Like!</button>
                {% if question.get_likes > 0 %}
                    <span>{{ question.get_likes }}</span>
                {% endif %}
            </div>
        </div>   
        <div class = "quesText">
            <h5>{{ question.head }}</h5>
            <p>{{ question.body }}</p>

            {% if question.get_tags %}
            <div class = "anTags">
                <div>Tags:    
                    {% for tag in question.get_tags %} 
                        <a class = "blackRef" href = "{% url 'tags' tag.id %}">  
                        #{{ tag }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        
    </div> 
    <div class = "ansDiv">

        {% if answers %}
            <div class = "answer">
                {% for answer in answers %}
                    {% include "incl/singleA.html" %}
                {% endfor %}
            </div> 
            {% include 'incl/pagination.html' with content=answers %}

        {% else %}
            <h6 style = "padding: 20px;">You can be the first!</h6>
        {% endif %}
        
    </div>

    <div class = "newAns">
        <form action = "#">
            <textarea placeholder = "Write your answer here..." type = "text"></textarea>
            <button class = "btn btn-outline-dark">Publish</button>
        </form>
    </div>

{% endblock content %}